In [45]:
import pandas as pd
import os
import pymysql

#불러올 데이터 
raw_database_path= '/Users/joshsong/Coding/Bootcamp/CP/CP1/raw_data'
normal_restaurant_path = raw_database_path+'/fulldata_07_24_04_P_일반음식점.csv'
rest_restaurant_path = raw_database_path+'/fulldata_07_24_05_P_휴게음식점.csv'

#데이터 불러와서 확인
normal_restaurant=pd.read_csv(normal_restaurant_path,low_memory=False, encoding='cp949')
rest_restaurant=pd.read_csv(rest_restaurant_path,low_memory=False, encoding='cp949')

#합치기 전 columns이 같은지 확인
# print((normal_restaurant.columns == rest_restaurant.columns))

#데이터 합치기
restaurant = pd.concat([normal_restaurant,rest_restaurant])

#columns 확인
# print(restaurant.columns)

#이상한 column 확인 후 제거
# print(restaurant['Unnamed: 47'])
# print(restaurant.info())
# print(restaurant.isnull().sum())

restaurant=restaurant.drop(columns=['Unnamed: 47', '홈페이지', '인허가취소일자',
'휴업시작일자','휴업종료일자','재개업일자','건물소유구분명','번호','개방서비스아이디'])

print(restaurant.isnull().sum())

개방서비스명            0
개방자치단체코드          0
관리번호              0
인허가일자             0
영업상태구분코드          0
영업상태명             0
상세영업상태코드          0
상세영업상태명           0
폐업일자         888958
소재지전화        917222
소재지면적        177777
소재지우편번호       88335
소재지전체주소        5949
도로명전체주소      966731
도로명우편번호      992199
사업장명              1
최종수정시점            0
데이터갱신구분           0
데이터갱신일자           0
업태구분명           185
좌표정보(x)      147453
좌표정보(y)      147453
위생업태명           188
남성종사자수      1065799
여성종사자수      1047017
영업장주변구분명    1586360
등급구분명       2047737
급수시설구분명      907268
총직원수        2143389
본사직원수       2108617
공장사무직직원수    2108621
공장판매직직원수    2108621
공장생산직직원수    2108621
보증액         2108622
월세액         2108620
다중이용업소여부          3
시설총규모             3
전통업소지정번호    2554554
전통업소주된음식    2561771
dtype: int64

In [46]:
restaurant.columns

Index(['개방서비스명', '개방자치단체코드', '관리번호', '인허가일자', '영업상태구분코드', '영업상태명', '상세영업상태코드',
       '상세영업상태명', '폐업일자', '소재지전화', '소재지면적', '소재지우편번호', '소재지전체주소', '도로명전체주소',
       '도로명우편번호', '사업장명', '최종수정시점', '데이터갱신구분', '데이터갱신일자', '업태구분명', '좌표정보(x)',
       '좌표정보(y)', '위생업태명', '남성종사자수', '여성종사자수', '영업장주변구분명', '등급구분명', '급수시설구분명',
       '총직원수', '본사직원수', '공장사무직직원수', '공장판매직직원수', '공장생산직직원수', '보증액', '월세액',
       '다중이용업소여부', '시설총규모', '전통업소지정번호', '전통업소주된음식'],
      dtype='object')

In [47]:
restaurant=restaurant.drop(columns=['영업상태구분코드','상세영업상태코드','상세영업상태명','소재지전화','소재지우편번호','도로명우편번호','데이터갱신구분','총직원수','본사직원수','공장사무직직원수','공장판매직직원수','공장생산직직원수','보증액','월세액'])

In [48]:
restaurant.to_csv('./processed_data/restaurant.csv', index=False,encoding='utf-8-sig')

In [49]:
restaurant.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2562841 entries, 0 to 519878
Data columns (total 25 columns):
 #   Column    Dtype
---  ------    -----
 0   개방서비스명    object
 1   개방자치단체코드  int64
 2   관리번호      object
 3   인허가일자     int64
 4   영업상태명     object
 5   폐업일자      float64
 6   소재지면적     object
 7   소재지전체주소   object
 8   도로명전체주소   object
 9   사업장명      object
 10  최종수정시점    object
 11  데이터갱신일자   object
 12  업태구분명     object
 13  좌표정보(x)   float64
 14  좌표정보(y)   object
 15  위생업태명     object
 16  남성종사자수    float64
 17  여성종사자수    float64
 18  영업장주변구분명  object
 19  등급구분명     object
 20  급수시설구분명   object
 21  다중이용업소여부  object
 22  시설총규모     float64
 23  전통업소지정번호  object
 24  전통업소주된음식  object
dtypes: float64(5), int64(2), object(18)
memory usage: 508.4+ MB

In [51]:
restaurant.남성종사자수.unique()

array([  0.,   3.,   1.,  nan,   2.,   6.,   4.,   8.,   5.,  20.,   9.,
        10.,   7.,  12., 120.,  13.,  16.,  17.,  28.,  29.,  15.,  11.,
        94.,  93.,  95.,  55.,  40.,  23.,  -1.,  35.,  92.,  24.,  14.,
        18.,  31.,  21.,  25.,  19.,  30.,  26.,  32.,  50.,  27.,  46.,
        41.,  49.,  99.,  90.,  22.,  33.])

In [63]:
sample = restaurant.iloc[:2]
sample
for index, row in sample.iterrows():
    print(row[1])

3000000
3220000