In [10]:
import pymysql
import pandas as pd

In [30]:
# cursor = conn.cursor()

# make_db = 'CREATE DATABASE cp1'

# cursor.execute(make_db)

# conn.commit()

conn.close()

In [3]:
conn = pymysql.connect(host='localhost',user='joshsong',password='gmlwn0319',
database='cp1', local_infile=1)

In [5]:
cur = conn.cursor()

In [15]:
restaurant = pd.read_csv('./processed_data/restaurant.csv', encoding='utf8')
restaurant.head()

/var/folders/vd/vty5rfw96l98pjmcyhqfys2h0000gn/T/ipykernel_8731/832236466.py:1: DtypeWarning: Columns (10,14,23,24) have mixed types. Specify dtype option on import or set low_memory=False.
  restaurant = pd.read_csv('./processed_data/restaurant.csv', encoding='utf8')

,개방서비스명,개방자치단체코드,관리번호,인허가일자,영업상태명,폐업일자,소재지면적,소재지전체주소,도로명전체주소,사업장명,...,위생업태명,남성종사자수,여성종사자수,영업장주변구분명,등급구분명,급수시설구분명,다중이용업소여부,시설총규모,전통업소지정번호,전통업소주된음식
0,일반음식점,3000000,3000000-101-2022-00116,20220517,폐업,20220901.0,20.40,서울특별시 종로구 봉익동 52 1층,"서울특별시 종로구 서순라길 27-4, 1층 (봉익동)",술 연구소,...,기타,0.0,0.0,NaN,NaN,NaN,N,20.40,NaN,NaN
1,일반음식점,3220000,3220000-101-2022-00618,20220527,폐업,20220616.0,NaN,서울특별시 강남구 삼성동 159-7 현대백화점,"서울특별시 강남구 테헤란로 517, 현대백화점 지하1층 (삼성동)",팝업스토어(한시적),...,한식,0.0,0.0,NaN,NaN,NaN,N,0.00,NaN,NaN
2,일반음식점,3440000,3440000-101-2020-00207,20200416,폐업,20221118.0,24.77,대구광역시 남구 이천동 206-31,"대구광역시 남구 명덕로68길 38-2, 1층 (이천동)",스지국밥,...,한식,0.0,0.0,NaN,NaN,상수도전용,N,24.77,NaN,NaN
3,일반음식점,4090000,4090000-101-2022-00280,20220519,폐업,20220621.0,15.00,경기도 김포시 구래동 6879-1 116일부호,"경기도 김포시 김포한강4로 525, 116일부호 (구래동)",꼬꼬장,...,호프/통닭,0.0,0.0,NaN,NaN,상수도전용,N,15.00,NaN,NaN
4,일반음식점,5670000,5670184-101-2022-00048,20220428,폐업,20220610.0,114.95,경상남도 창원시 마산회원구 합성동 269-1,"경상남도 창원시 마산회원구 합성남로 10, 1층 (합성동)",디저트 39,...,기타,0.0,0.0,NaN,NaN,NaN,N,114.95,NaN,NaN

In [21]:
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://joshsong:gmlwn0319@localhost/cp1')
restaurant.to_sql('restaurant',con=engine,if_exists='append',index=False)

2562841

In [28]:
engine.connect().close()

In [26]:
cur.execute('SELECT * FROM restaurant LIMIT 20')
result = cur.fetchall()
print(*result,sep='\n')

InterfaceError: (0, '')

In [30]:
restaurant.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2562841 entries, 0 to 2562840
Data columns (total 25 columns):
 #   Column    Dtype
---  ------    -----
 0   개방서비스명    object
 1   개방자치단체코드  int64
 2   관리번호      object
 3   인허가일자     int64
 4   영업상태명     object
 5   폐업일자      float64
 6   소재지면적     object
 7   소재지전체주소   object
 8   도로명전체주소   object
 9   사업장명      object
 10  최종수정시점    object
 11  데이터갱신일자   object
 12  업태구분명     object
 13  좌표정보(x)   float64
 14  좌표정보(y)   object
 15  위생업태명     object
 16  남성종사자수    float64
 17  여성종사자수    float64
 18  영업장주변구분명  object
 19  등급구분명     object
 20  급수시설구분명   object
 21  다중이용업소여부  object
 22  시설총규모     float64
 23  전통업소지정번호  object
 24  전통업소주된음식  object
dtypes: float64(5), int64(2), object(18)
memory usage: 488.8+ MB

In [32]:
restaurant.개방자치단체코드.unique()

array([3000000, 3220000, 3440000, 4090000, 5670000, 4200000, 3590000,
       5020000, 3010000, 4520000, 5130000, 4040000, 3830000, 3600000,
       3450000, 3780000, 3740000, 3700000, 3910000, 4800000, 4580000,
       5330000, 3330000, 3660000, 4390000, 3560000, 4490000, 3380000,
       5530000, 5540000, 3370000, 3050000, 3630000, 3650000, 3180000,
       3710000, 3820000, 4050000, 4860000, 3130000, 5050000, 5600000,
       3210000, 3190000, 5220000, 3200000, 3400000, 5430000, 4690000,
       3160000, 5710000, 4060000, 3940000, 3290000, 4670000, 4240000,
       4590000, 4570000, 3020000, 3240000, 5690000, 4230000, 3230000,
       3930000, 3460000, 4320000, 4830000, 4980000, 4030000, 4990000,
       3640000, 3420000, 3270000, 3860000, 4010000, 5440000, 3170000,
       3540000, 3360000, 3110000, 5350000, 3730000, 3510500, 3150000,
       4760000, 5700000, 4510000, 3490000, 5100000, 3670000, 3410000,
       3990000, 3690000, 4610000, 3620000, 4500000, 3390000, 5340000,
       3520000, 5380000, 5210000, 4640000, 3140000, 5120000, 4070000,
       4950000, 3470000, 3040000, 6510000, 4620000, 4470000, 4080000,
       5230000, 3970000, 3080000, 3030000, 3340000, 3680000, 4450000,
       3100000, 4530000, 4180000, 4790000, 3060000, 3070000, 3720000,
       5310000, 5240000, 3920000, 5590000, 4840000, 4300000, 4160000,
       3550000, 5070000, 3530000, 5080000, 3120000, 3500000, 5170000,
       3300000, 3430000, 4540000, 5390000, 5420000, 3310000, 3320000,
       5010000, 3280000, 4960000, 5370000, 4710000, 6520000, 4290000,
       5060000, 3480000, 4970000, 5400000, 4190000, 4730000, 3350000,
       5680000, 3090000, 3250000, 3610000, 4810000, 4210000, 4020000,
       4000000, 5190000, 4480000, 5570000, 4600000, 4890000, 3980000,
       4680000, 3570000, 5110000, 4720000, 4330000, 5580000, 5470000,
       4930000, 4400000, 4250000, 3900000, 5200000, 5150000, 4900000,
       4820000, 4850000, 3260000, 4910000, 4430000, 4780000, 5360000,
       4170000, 5090000, 5250000, 5140000, 5460000, 4460000, 4280000,
       5260000, 4340000, 5410000, 4260000, 4550000, 4940000, 4140000,
       4350000, 4310000, 4700000, 5180000, 4270000, 5000000, 5480000,
       4880000, 4750000, 3580000, 4220000, 5450000, 4920000, 4440000,
       4420000, 5160000, 4740000, 4770000, 4870000])